<!DOCTYPE HTML>
<html>
<head>
<title>Backbone Cellar</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
</head>

<body>

    <div id="header"><h1>Order</h1></div>

<!--<div id="sidebar"></div>-->

<div id="content">
</div>

<!-- Templates -->
<script type="text/template" id="row-content">
    <div class ="table-main">
        <td><%= name %></td>
        <td><%= amount %></td>
        <button class="delete">Delete</button>
    </div>
</script>
<script type="text/template" id="food-header">
    <span class="title">Food Cellar</span>
    <button class="new">New Food Item</button>
</script>
<script type="text/template" id="order-header">
    <label>Name</label>
    <input type="text" id="name" required/>
    <label>Price:</label>
    <input type="text" id="amount" required/>
    <button class="add">Add</button>
</script>
<script type="text/template" id="food-item">
	<a href='#<%= id %>'><%= name %></a>
</script>

<script type="text/template" id="food-item-detail">
    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="foodId" name="id" value="<%= id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Price:</label>
        <input type="text" id="price" name="price" value="<%= price %>"/>
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>
</script>

<!-- JavaScript -->
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/order.js"></script>   

</body>
</html>
